<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: Layout(~{:: #conteudo-cadastro}, ~{:: #estilos-cadastro}, ~{:: #scripts-cadastro})}">
<head>
<meta charset="UTF-8">
<title>Quintal Arte & Retalhos</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
	<th:block id="estilos-cadastro">
        <link rel="stylesheet" th:href="@{/css/formularios.css}">
    </th:block>
</head>
<body class="auth-page">
<div id="conteudo-cadastro">
	<div class="fundo-retalhos" id="fundoRetalhos"></div>
	<section data-aos="zoom-in" data-aos-duration="800">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-6">
					<div class="auth-card">
						<h2 class="text-center mb-4">Criar Nova Senha</h2>
						<form th:action="@{/reset-password}" method="post" id="resetPassword" novalidate>
						<th:block th:if="${session.succMsg}">
							<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
							<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>

						<th:block th:if="${session.errorMsg}">
							<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
							<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
							<!-- Exemplo do email -->
							<div class="mb-4">
							<label class="form-label-auth" for="nome">Nova Senha:</label>
								<div class="input-group">
									<span class="input-group-text auth-icon"> <i
										class="fas fa-envelope"></i>	
									</span> <input type="password" class="form-control auth-input"
										id="password" name="password" placeholder="Senha"
										required>
								</div>
							</div>
							<!-- Exemplo do password -->
							<div class="mb-4">
							<label class="form-label-auth" for="nome">Confirmar Senha:</label>
								<div class="input-group">
									<span class="input-group-text auth-icon"> <i
										class="fas fa-lock"></i>
									</span> <input type="password" class="form-control auth-input" name="confirmPassword"
									 placeholder="Senha" required>
								</div>
							</div>
							<input type="hidden" th:value="${token}" name="token">
							<!-- Botão Login -->
							<div class="d-grid mb-4">
								<button type="submit" class="btn btn-auth btn-lg">
									<i class="fas fa-sign-in-alt me-2"></i>Redefinir senha
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	</div>

	<th:block id="scripts-cadastro">
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init({
			duration : 1000,
			once : true
		});
	</script>
	</th:block>
</body>
</html>
